/* Header and Navigation */
header {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    padding: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}