/* Article Body */
.full-width-image img {
    width: 100vw; /* Ensures the image is as wide as the viewport */
    position: relative; /* Adjust position if needed */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: grid;
}

.blog-content {
    line-height: 1.8vw;

}

article {
    padding: 20px ;
    max-width: 800px; /* Limits the width of the article content */
    margin: auto; /* Centers the article on the page */
}

.date {
    color: #777;
    font-style: italic;
    font-size: small;
    padding-bottom: 16px;
}

.author-info, .social-sharing {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

.author-info img {
    width: 100px; /* Fixed size for author image */
    float: left;
    margin-right: 20px;
}

.author-info div {
    display: inline-block;
}


