/* Article Body */
.full-width-image img {
    width: 100vw; /* Ensures the image is as wide as the viewport */
    position: relative; /* Adjust position if needed */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: grid;
}

.blog-content {
    line-height: 1.8vw;

}

article {
    padding: 20px ;
    max-width: 800px; /* Limits the width of the article content */
    margin: auto; /* Centers the article on the page */
}

.date {
    color: #777;
    font-style: italic;
    font-size: small;
    padding-bottom: 16px;
}

.author-info, {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-size: x-small;
        
}

.author-info img {
    width: 100px; /* Fixed size for author image */
    float: left;
    margin-right: 20px;
}

.author-info div {
    display: inline-block;
}

.social-sharing {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #ccc;
    font-size: x-small;
    border-bottom: 1px solid #ccc;
}
.social-sharing a {
    display: inline-block;  /* Aligns the links inline and allows you to control spacing and alignment */
    margin: 0 5px;  /* Space between buttons */
    width: 20px;  /* Fixed width of each button */
    height: 20px;  /* Fixed height of each button */
}

.social-sharing img {
    width: 100%;  /* Ensures the image fills the anchor element */
    height: auto;  /* Maintains the aspect ratio */
    display: block;  /* Removes bottom margin/padding typical of inline images */
}

.sharing-label {
    font-size: x-small;
}